# Env Template
# Copiați acest fișier sub numele de ".env.local" pentru dezvoltare locală.
# Nu completați valori reale aici! Acest fișier este salvat în git.

# Exemplu variabilă:
# PUBLIC_MAKE_WEBHOOK=https://hook.us1.make.com/xxxxx
# WHATSAPP_NUMBER=
